img {display: block;
    
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border:;
}

h1 {
    color: coral;
    text-align: center;
}

p {
    color: brown;
    text-align: center;
}